:root {
  --primary-color: #2563eb;
  --primary-color-dark: #2163e8;
  --max-content-width: 98vw;
  --secondary-color: white;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondary-color);
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
}

menu {
  list-style: none;
}

body {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  background-color: #ededed;
}

.container {
  max-width: 1280px;
  padding: 0 0.5rem;
  margin: 0 auto;
}
